<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="components.Listeners"/>
    </listeners>
    <test verbose="2" thread-count="4" preserve-order="true" name="D:/Study/Java/Workspace/TutorialsNinjaWebApplication">
        <classes>
            <class name="tests.RegisterTest"/>
            <class name="tests.LoginTest"/>
            <class name="tests.SearchTest"/>
            <class name="tests.AddToCartTest"/>
            <class name="tests.CheckoutTest"/>
        </classes>
    </test>
</suite>
